// bee-art color
// 常用灰色
$gray-0: #191919;
$gray-1: #1d1d1d;
$gray-2: #313840;
$gray-3: #333;
$gray-4: #444;
$gray-5: #505050;
$gray-6: #808080;
$gray-7: #979797;
$gray-8: #d7d7d8;
$gray-9: #ededed;
$gray-10: #f2f2f2;
$gray-11: green;
